<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
		<script src="js/angular-toArrayFilter/toArrayFilter.js"></script></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
		<script src="js/AngularApp.js"></script>
		<script src="js/controllers/MainCtrl.js"></script>
		<script src="js/services/MainServ.js"></script>
		<script src="js/config/MainConfig.js"></script>
		<title><%= title %></title>
	</head>
		<body ng-app="MainApp">
					<!-- HEADER -->
			<header ng-include="'html/nav.html'"></header>
			<ui-view></ui-view>
		</body>
</html>
