<!DOCTYPE html>
<html>
	<head>
		<title>Login Page</title>
	</head>
		<body>
			<h2> Please Login</h2>
			<form method="post">
				<span>username</span>
				<input type="text" name="username"/><br/>
				<span>password</span>
				<input type="password" name="password"/><br/>
				<input type="submit" value="login"/>
			</form>
		</body>
</html>
