<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<span><label>Product Search: <input ng-model="searchText" placeholder="Product Name or Code"></label></span>
		</div>
	<table  class="table table-bordered">
		<tr>
			<th>
				Name
			</th>
			<th>
				Price
			</th>
			<th>
				Code
			</th>
			<th>
				Choose
			</th>
		</tr>
		<tr ng-repeat="product in products | filter: searchText">
			<td>
				{{product.prodName}}
			</td>
			<td>
				{{product.prodPrice}}
			</td>
			<td>
				{{product.prodCode}}
			</td>
			<td>
				<button class="btn btn-warning" ng-click="">Start Order</button>
			</td>
		</tr>
	</table>
	</div>
</div>
