<div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<span><label>Product Search: <input ng-model="productSearchText" placeholder="Product Name or Code"></label></span>
			<div ng-show="result.orderID" class="alert alert-success" role="alert">Order for {{result.cFname}} to {{result.StoAddr}} Successful. Feel free to place another order.</div>
			<div ng-show="customerResult.customerID" class="alert alert-success" role="alert">Customer {{customerResult.cFname}} was also added to customers.</div>
		</div>
	<table  class="table table-bordered">
		<tr>
			<th>
				Name
			</th>
			<th>
				Price
			</th>
			<th>
				Code
			</th>
			<th>
				Choose
			</th>
		</tr>
		<tr ng-repeat="product in products | filter: productSearchText">
			<td>
				{{product.prodName}}
			</td>
			<td>
				{{product.prodPrice | currency}}
			</td>
			<td>
				{{product.prodCode}}
			</td>
			<td>
				<button ng-hide="productSelected===product" class="btn btn-warning" ng-click="setOrderProduct(product)">Start Order</button>
				<button ng-show="productSelected===product" class="btn btn-primary">Product Selected</button>
			</td>
		</tr>
	</table>
	</div>
</div>
<div ng-show="newOrder" class="alert alert-warning" role="alert">
	You have selected the product named <b>{{newOrder.prodName}}</b> costing <b>{{newOrder.prodPrice | currency}}</b>. The product code is <b>{{newOrder.prodCode}}</b>.
</div>
<div ng-show="customerSelected" class="alert alert-warning" role="alert">
	You have selected customer <b>{{customerSelected.cFname}}</b> <b>{{customerSelected.cLname}}</b> with the shipping address of <b>{{customerSelected.StoAddr}}, {{customerSelected.StoCity}}, {{customerSelected.StoZip}}, {{customerSelected.StoState}}, {{customerSelected.StoCountry}}</b>.
</div>
<div ng-show="newOrder" class="panel panel-default">
	<div class="panel-heading">
	<span><label>Add an existing customer by searching here: <input ng-model="customerSearchText" placeholder="customer name"></label></span>
	</div>
	<table  class="table table-bordered" ng-show="customerSearchText.length>2">
		<tr>
			<th>
				Name
			</th>
			<th>
				Customer ID
			</th>
			<th>
				Billing Address
			</th>
			<th>
				Choose
			</th>
		</tr>
		<tr ng-repeat="customer in customers | filter: customerSearchText">
			<td>
				{{customer.cFname}} {{customer.cLname}}
			</td>
			<td>
				{{customer.customerID}}
			</td>
			<td>
				{{customer.BtoAddr}}, {{customer.BtoCity}}, {{customer.BtoState}}, {{customer.BtoCountry}}
			</td>
			<td>
				<button ng-hide="customerSelected._id===customer._id" class="btn btn-warning" ng-click="setOrderCustomer(customer)">Place Order</button>
				<button ng-show="orderProcess.step===2 && customerSelected._id===customer._id" class="btn btn-success"  ng-click="csNewOrder(customer, newOrder)">Confirm Order</button>
			</td>
		</tr>
	</table>
</div>
<div ng-show="newOrder"> 
	<form name='cutomerForm' ng-submit='csNewOrder(customer, newOrder); csNewCustomerOrder(customer)'>
		<div class='form-group'>
			<label>First Name</label>
			<input type='text' name='cFname' class='form-control' ng-model='customer.cFname'>
			<span ng-show='errorCfName'>{{errorCfName}}</span>
		</div>
		<div class='form-group'>
			<label>Last Name</label>
			<input type='text' name='cLname' class='form-control' ng-model='customer.cLname'>
			<span ng-show='errorClName'>{{errorClName}}</span>
		</div>
		<div class='form-group'>
			<label> Payment Method</label>
			<select ng-model="customer.pMethod">
				<option ng-repeat="pMethod in pMethods">{{pMethod.type}}</option>
			</select>
		</div>
		<div class='form-group'>
			<label>CC Number</label>
			<input type='text' name='ccNumber' class='form-control' ng-model='customer.ccNumber'>
			<span ng-show='errorCCnumber'>{{errorCCnumber}}</span>
		</div>
		<div class='form-group'>
			<label> CC Exp. Date</label>
			<input type='text' name='ccExpDate' class='form-control' ng-model='customer.ccExpDate'>
			<span ng-show='errorCfName'>{{errorCfName}}</span>
		</div>
		<div class='form-group'>
			<label> CC Code</label>
			<input type='text' name='ccCode' class='form-control' ng-model='customer.ccCode'>
			<span ng-show='errorCfName'>{{errorCfName}}</span>
		</div>
		<div class='form-group'>
			<label> Bill to Address</label>
			<input type='text' name='BtoAddr' class='form-control' ng-model='customer.BtoAddr'>
			<span ng-show='errorCfName'>{{errorCfName}}</span>
		</div>
		<div class='form-group'>
			<label> Bill to City</label>
			<input type='text' name='BtoCity' class='form-control' ng-model='customer.BtoCity'>
			<span ng-show='errorCfName'>{{errorCfName}}</span>
		</div>
		<div class='form-group'>
			<label> Bill to State</label>
			<input type='text' name='BtoState' class='form-control' ng-model='customer.BtoState'>
			<span ng-show='errorCfName'>{{errorCfName}}</span>
		</div>
		<div class='form-group'>
			<label> Bill to Zip</label>
			<input type='text' name='BtoZip' class='form-control' ng-model='customer.BtoZip'>
			<span ng-show='errorCfName'>{{errorCfName}}</span>
		</div>
		<div class='form-group'>
			<label> Bill to Country</label>
			<input type='text' name='BtoCountry' class='form-control' ng-model='customer.BtoCountry'>
			<span ng-show='errorCfName'>{{errorCfName}}</span>
		</div>
		<div class='form-group'>
			<label> Ship to Address</label>
			<input type='text' name='StoAddr' class='form-control' ng-model='customer.StoAddr'>
			<span ng-show='errorCfName'>{{errorCfName}}</span>
		</div>
		<div class='form-group'>
			<label> Ship to City</label>
			<input type='text' name='StoCity' class='form-control' ng-model='customer.StoCity'>
			<span ng-show='errorCfName'>{{errorCfName}}</span>
		</div>
		<div class='form-group'>
			<label> Ship to State</label>
			<input type='text' name='StoState' class='form-control' ng-model='customer.StoState'>
			<span ng-show='errorCfName'>{{errorCfName}}</span>
		</div>
		<div class='form-group'>
			<label> Ship to Zip</label>
			<input type='text' name='StoZip' class='form-control' ng-model='customer.StoZip'>
			<span ng-show='errorCfName'>{{errorCfName}}</span>
		</div>
		<div class='form-group'>
			<label> Ship to Country</label>
			<input type='text' name='StoCountry' class='form-control' ng-model='customer.StoCountry'>
			<span ng-show='errorCfName'>{{errorCfName}}</span>
		</div>
		<div class='form-group'>
			<label> Phone Number</label>
			<input type='text' name='cPhone' class='form-control' ng-model='customer.cPhone'>
			<span ng-show='errorCfName'>{{errorCfName}}</span>
		</div>
		<button type='submit' class='btn btn-success'>Create Customer and Order</button>
	</form>
</div>
