
		<!-- ANGULAR DYNAMIC CONTENT -->
<div class="panel panel-default">
	<div class="panel-heading">Toggle Views</div>
<table class="table table-bordered">
<tr>
	<td ng-repeat="toggle in toggles | limitTo: 10">
		<button ng-hide="toggleState[toggle]" class="btn btn-success" ng-click="toggleShow(toggle)">{{toggle}}</button>
		<button ng-show="toggleState[toggle]" class="btn btn-danger" ng-click="toggleShow(toggle)">{{toggle}}</button>
	</td>
	
</tr>
<tr>
	<td ng-repeat="toggle in toggles | limitTo: 10:10">
		<button ng-hide="toggleState[toggle]" class="btn btn-success" ng-click="toggleShow(toggle)">{{toggle}}</button>
		<button ng-show="toggleState[toggle]" class="btn btn-danger" ng-click="toggleShow(toggle)">{{toggle}}</button>
	</td>
	
</tr>
<tr>
	<td ng-repeat="toggle in toggles | limitTo: 10:20">
		<button ng-hide="toggleState[toggle]" class="btn btn-success" ng-click="toggleShow(toggle)">{{toggle}}</button>
		<button ng-show="toggleState[toggle]" class="btn btn-danger" ng-click="toggleShow(toggle)">{{toggle}}</button>
	</td>
	
</tr>
</table>
</div>
</div>
<table class="table table-bordered">
	<tr ng-repeat="order in orders | limitTo:1">
		<th ng-repeat="(key, val) in order" ng-hide="toggleState[key]">
			{{key}}
		</th>
		<th>
			Update
		</th>
				<th>
			Delete
		</th>
	</tr>
	<tr ng-repeat="order in orders">
		<th ng-repeat="(key, val) in order" ng-hide="toggleState[key]" >
			<input type="text" name="orderEdit" class="form-control" ng-model="order[key]" placeholder="{{val}}">
		</th>
		<th>
			<button ng-hide="orderSelected" class="btn btn-warning" ng-click="orderSelected=true">Update</button>
			<button ng-show="orderSelected" class="btn btn-success" ng-click="editOrder(order)">Confirm</button>
		</th>
		<th>
			<button ng-hide="deleteSelected" class="btn btn-warning" ng-click="deleteSelected=true">delete</button>
			<button ng-show="deleteSelected" class="btn btn-success" ng-click="deleteOrder(order._id)">Confirm</button>
		</th>
	</tr>
</table>
		<div>
			<form name='OrderFrom' ng-submit='createOrder()'>
				<div class='form-group'>
					<label>Item Name</label>
					<input type='text' name='cFname' class='form-control' ng-model='order.prodName'>
					<span ng-show='errorCfName'>{{errorCfName}}</span>
				</div>
				<div class='form-group'>
					<label> Payment Method</label>
					<select ng-model="order.pMethod">
						<option ng-repeat="pMethod in pMethods">{{pMethod.type}}</option>
					</select>
				</div>
				<div class='form-group'>
					<label>Item Price</label>
					<input type='text' name='cFname' class='form-control' ng-model='order.prodPrice'>
					<span ng-show='errorCfName'>{{errorCfName}}</span>
				</div>
				<div class='form-group'>
					<label>Order Status</label>
					<input type='text' name='cFname' class='form-control' ng-model='order.orderStatus'>
					<span ng-show='errorCfName'>{{errorCfName}}</span>
				</div>
				<div class='form-group'>
					<label>First Name</label>
					<input type='text' name='cFname' class='form-control' ng-model='order.cFname'>
					<span ng-show='errorCfName'>{{errorCfName}}</span>
				</div>
				<div class='form-group'>
					<label>Last Name</label>
					<input type='text' name='cLname' class='form-control' ng-model='order.cLname'>
					<span ng-show='errorClName'>{{errorClName}}</span>
				</div>
				<div class='form-group'>
					<label>CC Number</label>
					<input type='text' name='ccNumber' class='form-control' ng-model='order.ccNumber'>
					<span ng-show='errorCCnumber'>{{errorCCnumber}}</span>
				</div>
				<div class='form-group'>
					<label> CC Exp. Date</label>
					<input type='text' name='ccExpDate' class='form-control' ng-model='order.ccExpDate'>
					<span ng-show='errorCfName'>{{errorCfName}}</span>
				</div>
				<div class='form-group'>
					<label> CC Code</label>
					<input type='text' name='ccCode' class='form-control' ng-model='order.ccCode'>
					<span ng-show='errorCfName'>{{errorCfName}}</span>
				</div>
				<div class='form-group'>
					<label> Bill to Address</label>
					<input type='text' name='BtoAddr' class='form-control' ng-model='order.BtoAddr'>
					<span ng-show='errorCfName'>{{errorCfName}}</span>
				</div>
				<div class='form-group'>
					<label> Bill to City</label>
					<input type='text' name='BtoCity' class='form-control' ng-model='order.BtoCity'>
					<span ng-show='errorCfName'>{{errorCfName}}</span>
				</div>
				<div class='form-group'>
					<label> Bill to State</label>
					<input type='text' name='BtoState' class='form-control' ng-model='order.BtoState'>
					<span ng-show='errorCfName'>{{errorCfName}}</span>
				</div>
				<div class='form-group'>
					<label> Bill to Zip</label>
					<input type='text' name='BtoZip' class='form-control' ng-model='order.BtoZip'>
					<span ng-show='errorCfName'>{{errorCfName}}</span>
				</div>
				<div class='form-group'>
					<label> Bill to Country</label>
					<input type='text' name='BtoCountry' class='form-control' ng-model='order.BtoCountry'>
					<span ng-show='errorCfName'>{{errorCfName}}</span>
				</div>
				<div class='form-group'>
					<label> Ship to Address</label>
					<input type='text' name='StoAddr' class='form-control' ng-model='order.StoAddr'>
					<span ng-show='errorCfName'>{{errorCfName}}</span>
				</div>
				<div class='form-group'>
					<label> Ship to City</label>
					<input type='text' name='StoCity' class='form-control' ng-model='order.StoCity'>
					<span ng-show='errorCfName'>{{errorCfName}}</span>
				</div>
				<div class='form-group'>
					<label> Ship to State</label>
					<input type='text' name='StoState' class='form-control' ng-model='order.StoState'>
					<span ng-show='errorCfName'>{{errorCfName}}</span>
				</div>
				<div class='form-group'>
					<label> Ship to Zip</label>
					<input type='text' name='StoZip' class='form-control' ng-model='order.StoZip'>
					<span ng-show='errorCfName'>{{errorCfName}}</span>
				</div>
				<div class='form-group'>
					<label> Ship to Country</label>
					<input type='text' name='StoCountry' class='form-control' ng-model='order.StoCountry'>
					<span ng-show='errorCfName'>{{errorCfName}}</span>
				</div>
				<div class='form-group'>
					<label> Phone Number</label>
					<input type='text' name='cPhone' class='form-control' ng-model='order.cPhone'>
					<span ng-show='errorCfName'>{{errorCfName}}</span>
				</div>
				<div class='form-group'>
					<label> Tracking Number</label>
					<input type='text' name='cPhone' class='form-control' ng-model='order.tNum'>
					<span ng-show='errorCfName'>{{errorCfName}}</span>
				</div>
				<div class='form-group'>
					<label> Shipping Label</label>
					<input type='text' name='cPhone' class='form-control' ng-model='order.sLabel'>
					<span ng-show='errorCfName'>{{errorCfName}}</span>
				</div>
				<div class='form-group'>
					<label> Post ID</label>
					<input type='text' name='cPhone' class='form-control' ng-model='order.postID'>
					<span ng-show='errorCfName'>{{errorCfName}}</span>
				</div>
				<div class='form-group'>
					<label> User</label>
					<input type='text' name='cPhone' class='form-control' ng-model='order.user'>
					<span ng-show='errorCfName'>{{errorCfName}}</span>
				</div>
				<button type='submit' class='btn btn-success'>Create</button>
			</form>
		</div>
