<div class="container">
		<!-- ANGULAR DYNAMIC CONTENT -->
		
		<div>
			<table class="table table-bordered">
			<tr>
				<th>
					<button ng-click="sort('type')">Payment Method Name</button>
				</th>
				<th>Delete</th>
			</tr>
			<tr ng-repeat="pMethod in pMethods | orderBy:sortmethod:reverse">
			<td>{{pMethod.type}}</td>
			<td><button type='submit' class='btn btn-danger' ng-click="deletePmethod(pMethod._id)">Delete</button></td>
			</tr>
			</table>
		</div>
		<div>
			<form name='pMethodForm' ng-submit='createPmethod()'>
				<div class='form-group'>
					<label>Payment Method Name</label>
					<input type='text' name='pMethod' class='form-control' ng-model='pMethod.type'>
					<span ng-show='errorPmethod'>{{errorPmethod}}</span>
				</div>
				<button type='submit' class='btn btn-primary'>Add</button>
			</form>
		</div>
	</div>
